.footer{
    padding:2rem;
    display:flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
}

.footerUrl{
    font-family: 'Univia';
    font-weight: 400;
    font-style: Regular;
    font-size: 1rem;
    line-height: 100%;
    letter-spacing: 0%;
    color: #515151;
}